<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <p>Hey <%= name %>,</p>
    <p>Your OTP for Forgot Password is as below</p>
    <h1>
        <%= confirmation_url %></a>
    </h1>

</body>

</html>