<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

  <!-- Bootstrap Tags Input CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-tagsinput@0.8.0/dist/bootstrap-tagsinput.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
    rel="stylesheet" />

  <link rel="stylesheet" href="/css/dashboard.css">
  <!-- Datatable -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
  <script src="https://cdn.datatables.net/1.13.4/js/dataTables.semanticui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>
</head>

<body onload="navbar_changer('Products')">
  <section>
    <%- include('navbar.ejs') %>
      <div class="app-wrapper">
        <div class="container mt-4">
          <div class="container">
            <input type="text" id="search" class="bg-light border rounded-pill p-2 " oninput="searchQuery(this,1);"
              placeholder="Search" placeholder="Search "><span class="fa fa-search text-muted"></span>
          </div>
          <div class="action-btn my-3 ">
            <div class="createbtn">
              <a type="button" class="btn btn-success" onclick="showCreateModal()">Create Product</a>
            </div>
          </div>
          <br />
          <div class="table-responsive">
            <table class="table table-hover" id="productable">
              <thead>
                <tr>
                  <th width="3%">#</th>
                  <th width="3%">id</th>
                  <th width="10%">Product Name</th>
                  <th width="10%">Description</th>
                  <th width="5%">Image</th>
                  <th width="10%">Price</th>
                  <th width="10%">quantity</th>
                  <th width="5%">Categories</th>
                  <th width="4%">Option</th>
                </tr>
              </thead>
              <tbody class="userData">
              </tbody>
            </table>
          </div>
          <div class="container">
            <ul class="pagination"></ul>
          </div>
        </div>

        <div class="modal fade" id="create-model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog mx-0 mx-sm-auto">
            <div class="modal-content">
              <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="exampleModalLabel">Add Product</h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"
                  onclick="disableCreateModal()"></button>
              </div>
              <div class="modal-body">
                <form role="form" onsubmit="createData(); return false;" enctype="multipart/form-data">
                  <div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="categoryname">Product Name:</label>
                      <div class="form-text mb-2">
                        <input class="form-control form-control-sm" type="text" name="ProductName" id="categoryname"
                          autocomplete="off" onkeyup="validateCategoryName()">
                      </div>
                      <small class="warn" id="categoryname-err"></small>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="categoryname">Product Description:</label>
                      <div class="form-text mb-2">
                        <textarea class="form-control form-control-sm" name="description" id="prouductdesc" cols="5"
                          rows="3" onkeyup="validateProductDesc()"></textarea>
                      </div>
                      <small class="warn" id="categorydesc-err"></small>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="categoryname">Product image:</label>
                      <div class="form-text mb-2">
                        <input class="form-control form-control-sm" type="file" name="file" id="formFile"
                          autocomplete="off" onchange="validateProductImage()" required>
                      </div>
                      <small class="warn" id="categoryimage-err"></small>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="categoryname">Product Price:</label>
                      <div class="form-text mb-2">
                        <input type="number" id="price" class="form-control form-control-sm" name="price" min="0"
                          autocomplete="off" onkeyup="validateProductprice()">

                      </div>
                      <small class="warn" id="categoryprice-err"></small>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="categoryname">Product Quantity:</label>
                      <div class="form-text mb-2">
                        <input type="number" id="quantity" class="form-control form-control-sm" name="quantity" min="1"
                          autocomplete="off" onkeyup="validateProductQunatity()">
                      </div>
                      <small class="warn" id="categoryquantity-err"></small>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="categoryname">Categories:</label>
                      <div class="form-text mb-2">
                        <select id="categoryselect" class="form-select" aria-label=" select example" multiple required>
                        </select>
                      </div>
                      <small class="warn" id="categoryselect-err"></small>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="createbtn" disabled>Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <div class="modal fade" id="editmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog mx-0 mx-sm-auto">
            <div class="modal-content">
              <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="exampleModalLabel">Edit Product</h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"
                  onclick="disableModal()"></button>
              </div>
              <div class="modal-body">
                <form role="form" onsubmit="updateSubmit(this); return false;" enctype="multipart/form-data">
                  <div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="categoryname">Product Name:</label>
                      <div class="form-text mb-2">
                        <input class="form-control form-control-sm" type="text" name="ProductName"
                          id="updatecategoryname" autocomplete="off">
                      </div>
                      <small class="warn" id="categoryname-err"></small>
                    </div>
                    <div class="form-outline mb-4">
                     
                      <label class="form-label" for="categoryname">Product Description:</label>
                      <div class="form-text mb-2">
                        <textarea class="form-control form-control-sm" name="description" id="updateprouductdesc"
                          cols="5" rows="3"></textarea>
                      </div>
                      <small class="warn" id="categorydesc-err"></small>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="categoryname">Product image:</label>
                      <div class="form-text mb-2">
                        <img alt="" id="imgProduct" height="100px" width="100px">
                        <input class="form-control form-control-sm" type="file" name="file" id="updateformFile"
                          autocomplete="off">
                      </div>
                      <small class="warn" id="categoryimage-err"></small>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="categoryname">Product Price:</label>
                      <div class="form-text mb-2">
                        <input type="number" id="updateprice" class="form-control form-control-sm" name="price" min="0"
                          autocomplete="off">

                      </div>
                      <small class="warn" id="categoryprice-err"></small>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="categoryname">Product Quantity:</label>
                      <div class="form-text mb-2">
                        <input type="number" id="updatequantity" class="form-control form-control-sm" name="quantity"
                          min="1" autocomplete="off">
                      </div>
                      <small class="warn" id="categoryquantity-err"></small>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="categoryname">Categories:</label>
                      <div class="form-text mb-2">
                        <select id="updatecategoryselect"  class="form-select" aria-label=" select example" multiple
                          required>
                        </select>

                      </div>
                      <small class="warn" id="categoryselect-err"></small>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="createbtn">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
      <script src="/js/navbar.js"></script>
      <script src="/js/product.js"></script>



</body>

</html>